@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
}

header {
  background-color: #03045e;
  height: 3rem;
  position: fixed;
  top: 0;
  width: -webkit-fill-available;
  width: -moz-available;
  width: fill;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 8rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.burger {
  display: none;
}

.logo {
  color: #fff;
  font-family: montserrat;
  cursor: pointer;
}

.logo span {
  color: #ff8800;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-links li {
  list-style: none;
  font-family: montserrat;
  font-weight: 600;
  padding: 0 0.5rem;
}

.nav-links li a {
  text-decoration: none;
  color: #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.nav-links li a:hover {
  color: #ff8800;
}

.nav-links .btn {
  list-style: none;
  font-family: montserrat;
  font-weight: 600;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.nav-links .btn a {
  text-decoration: none;
  color: #fff;
  background-color: #ff8800;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.nav-links .btn a:hover {
  background-color: orange;
  color: #fff;
}

@media screen and (max-width: 946px) {
  header {
    padding: 1rem 5rem;
  }
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    top: 5rem;
    left: 0;
    background-color: #ff8800;
    width: 100%;
    height: 15rem;
    font-size: 20px;
    padding: 0.8rem 6rem;
    opacity: 0;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  .nav-active {
    opacity: 1;
  }
  .nav-links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .nav-links li {
    padding: 0.8rem 0rem;
  }
  .nav-links li a:hover {
    color: #fff;
  }
  .nav-links .btn a {
    background: none;
    padding: 0.5rem 0;
  }
  .nav-links .btn a:hover {
    background: none;
  }
  .burger {
    display: block;
  }
  .burger div {
    background-color: #fff;
    width: 2.5rem;
    height: 0.35rem;
    margin: 0.35rem;
    border-radius: 0.1rem;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .burger-active .line1 {
    -webkit-transform: rotate(-135deg) translate(-8px, -8px);
            transform: rotate(-135deg) translate(-8px, -8px);
  }
  .burger-active .line2 {
    opacity: 0;
  }
  .burger-active .line3 {
    -webkit-transform: rotate(135deg) translate(-8px, 8px);
            transform: rotate(135deg) translate(-8px, 8px);
  }
}

@media screen and (max-width: 536px) {
  header {
    padding: 1rem 2rem;
  }
  nav {
    padding-left: 3rem;
  }
}
/*# sourceMappingURL=style.css.map */